<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/formcheck">
    <label>username:</label><input type="text" name="user"><br>
    <label>password</label><input type="password" name="password"><br>
    <input type="submit" name="login" value="manoj">
</form>
</body>
</html>