<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<table border="1">
    {% for j in range(len)  -%}
        <tr>
    {% for i in table -%}
        <td>{{i[j]}}</td>
    {%- endfor %}
        </tr>
    {%- endfor %}

</table>
</body>
</html>